* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.root {
	padding: 2vw;
	/* background-image: linear-gradient(to bottom, #3498db, #67aede); */
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: poppins;
	min-height: 100vh;
}



.top {
	/* background-color: #3498db;  */
	color: #fff; /* Text color */
	padding: 10px; /* Add padding for spacing */
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  /* Style the top-head (h1) element */
  .top-heading h1 {
	font-size: 24px;
	margin: 0;
  }

  
  /* Style the top-link (anchor) element */
  .top-link a {
	text-decoration: none;
	color: #fff; /* Link text color */
	/* background-color: #ff7f00; */
	padding: 10px 20px;
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s; /* Smooth hover effect transition */
  }
  
  /* Add a hover effect for the link */
  .top-link a:hover {
	color: #E25E3E;
  }

  body {
	background: url("images/wheather-back.jpg");
	background-size: 100% auto; /* 100% width and auto height */
	background-position: center top; /* Center horizontally and align to the top */
	background-repeat: no-repeat; /* Prevent image repetition */
	/* background: url("images/background-storm.avif"); */
	color: #333;
	font-family: Arial, sans-serif;
	/* background: linear-gradient(to bottom, #cf992c, #fff); /* Gradient background */
	color: #f8fcff;
	font-family: "Helvetica Neue", sans-serif; /* Choose an elegant font */
  }
.aqi {
	position: absolute;
	top: 60%;
	right: 10%;
}
/* table */
table {
	position: absolute;
	top: 20%;
	right: 20%;
	border-collapse: collapse;
	width: 20%;
	margin: 20px auto;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #222;
}

tr:nth-child(even) {
	background-color: #269fe6;
}

tr:nth-child(odd) {
	background-color: #396d8b;
}
.location-container {
	margin: 40px 0;
}

.loc-input {
	border: 3px solid #269fe6;
	font-size: 1rem;
	padding: 8px;
	border-radius: 6px;
	margin: 10px;
	width: 270px;
}

.loc-input:invalid {
	border: 3px solid #d34545;
}

.search-btn {
	padding: 10px 14px;
	/* background-color: #269fe6; */
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 4px;
	color: black;
	margin: 10px;
	cursor: pointer;
}

.air-quality, .arr, .air-quality-status {
	font-size: 4rem;
	font-weight: 700;
}

.component-names {
	display: inline-block;
}

.component-container div {
	margin: 10px 0;
}

.component-val {
	font-size: 1.2rem;
	margin-left: 20px;
}

.footer {
	/* background-color: #333; */
	background-color: #222;
	color: white; /* Text color for the footer */
	text-align: center;
	padding: 10px 0; /* Add padding for spacing */
  }
  
  .footer p {
	margin: 8px; /* Remove default margin */
	font-size: 14px; /* Adjust the font size */
  }
  
  /* Add a hover effect to the footer */
  .footer:hover {
	background-color: #333;
	
  }
/* .map {
	position: absolute;
    right: 25%;
} */